In [66]:
## Steam Sales Analysis

In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [68]:
df = pd.read_csv('/content/drive/MyDrive/games.csv')

In [69]:
df.head(1)

,AppID,Name,Release date,Estimated owners,Peak CCU,Required age,Price,DiscountDLC count,About the game,Supported languages,...,Average playtime two weeks,Median playtime forever,Median playtime two weeks,Developers,Publishers,Categories,Genres,Tags,Screenshots,Movies
2539430,Black Dragon Mage Playtest,"Aug 1, 2023",0 - 0,0,0,0.0,0,0,NaN,[],...,0,0,0,NaN,NaN,NaN,NaN,NaN,https://shared.akamai.steamstatic.com/store_it...,NaN

In [70]:
df.shape

(122611, 39)

In [71]:
# removing useless columns

useless_columns = ['Header image',
    'Website',
    'Support url',
    'Support email',
    'Metacritic url',
    'Screenshots',
    'Movies',
    'About the game',
    'Full audio languages',
    'Notes',
    'Score rank',
    'DiscountDLC count']

df = df.drop(columns = useless_columns, errors='ignore')

In [72]:
df.shape

(122611, 27)

In [73]:
df.columns

Index(['AppID', 'Name', 'Release date', 'Estimated owners', 'Peak CCU',
       'Required age', 'Price', 'Supported languages', 'Reviews', 'Windows',
       'Mac', 'Linux', 'Metacritic score', 'User score', 'Positive',
       'Negative', 'Achievements', 'Recommendations',
       'Average playtime forever', 'Average playtime two weeks',
       'Median playtime forever', 'Median playtime two weeks', 'Developers',
       'Publishers', 'Categories', 'Genres', 'Tags'],
      dtype='object')

In [74]:
df.isnull().sum()

AppID                              1
Name                               0
Release date                       0
Estimated owners                   0
Peak CCU                           0
Required age                       0
Price                              0
Supported languages                0
Reviews                       110541
Windows                            0
Mac                                0
Linux                              0
Metacritic score                   0
User score                         0
Positive                           0
Negative                           0
Achievements                       0
Recommendations                    0
Average playtime forever           0
Average playtime two weeks         0
Median playtime forever            0
Median playtime two weeks          0
Developers                      8437
Publishers                      8909
Categories                      8953
Genres                          8413
Tags                           39265
dtype: int64

In [75]:
# Missing values - count and percentage
missing = pd.DataFrame({
    'Column': df.columns,
    'Missing_Count': df.isnull().sum(),
    'Missing_Percentage': (df.isnull().sum() / len(df)) * 100
}).sort_values('Missing_Count', ascending=False)

# Show only columns with missing values
missing = missing[missing['Missing_Count'] > 0]

print("Columns with missing values:")
print(missing)

# Quick summary
print(f"\nTotal rows: {len(df)}")
print(f"Columns with missing data: {len(missing)}")

Columns with missing values:
                Column  Missing_Count  Missing_Percentage
Reviews        Reviews         110541           90.155859
Tags              Tags          39265           32.024044
Categories  Categories           8953            7.301955
Publishers  Publishers           8909            7.266069
Developers  Developers           8437            6.881112
Genres          Genres           8413            6.861538
AppID            AppID              1            0.000816

Total rows: 122611
Columns with missing data: 7

In [76]:
# 90% reviews are missing, but they main columns in the dataset have no nulls so i believe it is fine :))

In [77]:
# filling missing values with "Unknown"

df['Tags'] = df['Tags'].fillna('None')
df['Developers'] = df['Developers'].fillna('Unknown')
df['Publishers'] = df['Publishers'].fillna('Unknown')
df['Genres'] = df['Genres'].fillna('None')
df['Categories'] = df['Categories'].fillna('None')

In [78]:
df[['Developers','Publishers','Tags','Genres','Categories']].isnull().sum()

Developers    0
Publishers    0
Tags          0
Genres        0
Categories    0
dtype: int64

In [79]:
df.dtypes

AppID                          object
Name                           object
Release date                   object
Estimated owners                int64
Peak CCU                        int64
Required age                  float64
Price                           int64
Supported languages            object
Reviews                        object
Windows                          bool
Mac                              bool
Linux                            bool
Metacritic score                int64
User score                      int64
Positive                        int64
Negative                        int64
Achievements                    int64
Recommendations                 int64
Average playtime forever        int64
Average playtime two weeks      int64
Median playtime forever         int64
Median playtime two weeks       int64
Developers                     object
Publishers                     object
Categories                     object
Genres                         object
Tags                           object
dtype: object

In [80]:
# easier names for the columns:

def clean_col_names(name):
  name = name.lower()
  name = name.replace(" ",'_')
  return name.strip()

In [81]:
df.columns = [clean_col_names(col) for col in df.columns]

In [82]:
df.rename(columns={'appid': 'app_id'}, inplace=True)
df.columns

Index(['app_id', 'name', 'release_date', 'estimated_owners', 'peak_ccu',
       'required_age', 'price', 'supported_languages', 'reviews', 'windows',
       'mac', 'linux', 'metacritic_score', 'user_score', 'positive',
       'negative', 'achievements', 'recommendations',
       'average_playtime_forever', 'average_playtime_two_weeks',
       'median_playtime_forever', 'median_playtime_two_weeks', 'developers',
       'publishers', 'categories', 'genres', 'tags'],
      dtype='object')

In [89]:
# fix shifted headers by moving them left by one and restoring app_id

cols = list(df.columns)
df.columns = cols[1:] + ['_drop']

df['app_id'] = df.iloc[:, 0]
df = df.drop(columns=['_drop'])
df = df[['app_id'] + [c for c in df.columns if c != 'app_id']]

In [90]:
df['app_id'].head(1)

2539430    Black Dragon Mage Playtest
Name: app_id, dtype: object

In [84]:
df.shape

(122611, 27)

In [88]:
df.to_csv('testing.csv')